{:remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :insert-missing-whitespace? true
 :align-associative? false
 :indents {defhandler [[:inner 0]]
           defroute [[:inner 0]]
           defschema [[:inner 0]]
           with-redefs [[:inner 0]]
           testing [[:inner 0]]
           are [[:inner 1]]
           letfn [[:inner 1]]}}
