{:source-paths ["src" "test"]

 :dependencies []

 :builds
 {:opencode
  {:target :esm
   :output-dir "dist"
   :modules {:plugin {:entries [my.opencode.entry]
                      :exports {:OpenPlannerToolsPlugin my.opencode.entry/OpenPlannerToolsPlugin}}}
   :compiler-options {:output-feature-set :es-next}}

  :test
  {:target :node-script
   :output-to "target/test.cjs"
   :main my.opencode.entry-test/-main
   :js-options {:resolve {"@opencode-ai/plugin"
                          {:target :file
                           :file "test/my/opencode/plugin_shim.js"}}}
   :compiler-options {:output-feature-set :es-next}}}}
