MONGODB_ROOT_USERNAME=openplannerRoot
MONGODB_ROOT_PASSWORD=change-me-REDACTED_SECRET-password
MONGOT_SYNC_PASSWORD=REDACTED_SECRET
OPENPLANNER_MONGO_APP_USERNAME=openplanner
OPENPLANNER_MONGO_APP_PASSWORD=REDACTED_SECRET-password
